table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  *{
    padding-left: 50px;
  }

  #search{
    padding-left: 100px;
  }